<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>All posts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--    <link rel="stylesheet" type="text/css" media="all"-->
<!--          href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />-->
</head>
    <body>
        <table>
            <tr>
                <th>id</th>
                <th>contents</th>
                <th>authors</th>
                <th>tags</th>
            </tr>
            <tr th:each="post : ${posts}">
                <td th:text="${post.getId()}"></td>
                <td th:text="${post.getContents()}"></td>
                <td th:each="author : ${post.getAuthors()}">
                    <span th:text="${author}"></span>
                </td>
                <td th:text="${post.getTags()}"></td>
            </tr>
        </table>
    </body>
</html>